version: '3.9'
services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "8082:8082"
    environment:
      - KAFKA_BROKERS=kafka:9092
      - KAFKA_ORDER_TOPIC=order.status.changed
    networks:
      - kafka-net

networks:
  kafka-net:
    external: true